# requirements_db.txt
fastapi
uvicorn[standard]
python-multipart
aiofiles
aiosqlite
# chromadb
# Pillow
# opencv-python
# cryptography
# pyparsing
# numpy
# httpx
# --- Librerías para Reconocimiento Facial ---
face_recognition
dlib
# Opcional, si usas el AdvancedFaceProcessor
# torch
# torchvision
