# Nombre del workflow
name: Build FotoShow with Nuitka

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install nuitka

      - name: Build executable with Nuitka (sin datos)
        run: |
          python -m nuitka --standalone --windows-disable-console --module-parameter=torch-disable-jit=yes --enable-plugin=no-qt --include-module=multipart --include-module=multipart.multipart --follow-import-to=uvicorn --follow-import-to=starlette --output-dir=dist main.py

      - name: Copy data directories to dist folder
        run: |
          xcopy /E /I /Y templates dist\
          xcopy /E /I /Y static dist\
          xcopy /E /I /Y face_recognition_models dist\

      - name: Upload executable artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-executable
          path: dist/
